*{
    margin: 0;
    padding: 0;
}
 
@font-face {
    font-family: "TrajanPro";
    src: url('../Recursos/TrajanPro.otf');
}

@font-face {
    font-family: "DJRbold";
    src: url('../Recursos/DJRbold.ttf');
}

@font-face {
    font-family: "Archivo-Bold" ;
    src: url('../Recursos/Archivo-Bold.otf');
}

/*----HEADER....*/
.header-index{
    font-family: "TrajanPro";
}

.navbar{
    background-color: #f8f8f8;
}
.ancho-mx{
    max-width: 1800px;
}

.ancho-mx a img{
    max-width: 120px;
}

.navbar-brand :hover{
    transform: scale(1.05);
}

.navbar-collapse{
    flex-direction: row;
    justify-content: center;
    min-height: 10vh;
}

.nav-link:hover{
    background-color: black;
    color: #ffffff;
}


.slide{
    margin-right: 10px;
    margin-left: 10px;
}

.slide img{
    height: 1150px;
}

.carousel-caption h1{
    font-family: "TrajanPro";
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.452);
    backdrop-filter: blur(10px);
    width: 450px;
    padding: 10px;
}


/*Main*/
.titulos{
    display: flex;
    font-family: "Archivo-Bold";

}


#main-index{
    background-color: #ffffff;
    font-family: "TrajanPro";
    
}

.footer{
    background-color: black;
    min-height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;

}

.footer li a{
    text-decoration: none;
    color: #ffffff;

}
.icons{
    width: 300px;
}

.Promocion a{
    font-family: "Archivo-Bold";
    margin: 20px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation-name: promocion;
    animation-duration: 2.5s;
    animation-iteration-count: 10;
}

@keyframes promocion{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.01);
        color: rgba(255, 22, 22, 0.733);
    }
}
.p1 {
    font-size: 80px;
}

.p2 {
    font-size: 40px;
}

.Suscripciones {
    font-family: none;
    background-color: #edafb870;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botonsucribir {
    background-color: #000;
    padding: 8px;
    width: 150px;
    border-radius: 2px;
}

.botonsucribir a{
    font-family: Arial;
    text-decoration: none;
    color: white;
}

.Suscripciones button:hover{
    transform: scale(1.05);
}
/*d-block w-100*/

/*MAIN CONTACTO*/

.main-contacto h1{
    background-color: #ffffff;
    font-family: "Archivo-Bold";
    font-size: 20px;
    margin: 10px;
    margin-bottom: 10px;
    text-align: center;
}


/*Formulario*/
.formulario {
    width: 600px;
    background: #f8f8f8;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000;
  }
   
.formulario h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #f8f8f8;
    padding: 10px;
    margin-bottom: 16px;
    border: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
  }
  
  .formulario p {
    height: 40px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
  }
  
  .formulario a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .formulario a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }

  .botonderegistro{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .botonderegistro input{
    width: 30%;
    background: #7e8766;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    align-items: center;
  }

  .botonderegistro input:hover{
    transform: scale(1.05)
  }

/*CONOCENOS*/

.header-conocenos{
    font-family: "Arial";
    padding: 100PX;
    background-color: #edafb870;
}
.main-conocenos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contenedor1 {
    display: flex;
    align-items: center;
}

.contenedor1 img{
    width: 450px;
}
.contenedor1 p{
    padding: 50px;

}

.contenedor2 {
    font-family: Arial;
    padding: 100PX;
    width: 100%;
    background-color: #edafb870;
    display: flex;
    justify-content: flex-end
}

.contenedor3 {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.contenedor3 li a{
    text-decoration: none;
    color: #000;
    text-align: center;
}
.ubicacion{
    width: 100%;
    height: auto;
    background-color: #edafb870;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.ubicacion iframe{
    width: 80%;
}

.Preguntas {
    font-family: Arial;
    padding: 100PX;
    width: 100%;
}

.accordion {
    width: 100%;
}
/*eshop*/

.Header-eshop {
    background-color: #7e8766;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegador {
    border-radius: 5px;
}
.Barrabusqueda input{
    width: 60vh;
    padding: 2px;
    border: solid 1px rgb(110, 110, 110);
}

.Botonbuscar{
    padding: 2px;
    width: 30px;
}

.Carritodecompra{
    margin-left: 100px;
}

.Carritodecompra svg{
    width: 25px;
    height: 25px;
}
.boton {
    background-color: #000;
    margin: 10px;
    width: 80px;
    color: #f8f8f8;

}

.productos {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.container1 img{
    height: 100%;
}


.card-body p{
    text-align: center;
}

.carrito {
    width: 80%;
    background: #7e8766;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  .comprar button:hover{
    transform: scale(1.03);
    background-color: #000;
    color: white;
  }
  .card {
    display: flex;
    align-items: center
  }

  .contenedor4 {
    font-family: Arial;
    height: 100px;  
    width: 100%;
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor4 h2{
    align-content: center;
}

.contenedor4 svg{
    color: white;
}
/*COLECCION*/
.containergrilla {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Jeans1 Jeans2 Jeans3 Jeans4 Jeans5"; 
  }
  .Jeans1 { grid-area: Jeans1; }
  .Jeans2 { grid-area: Jeans2; }
  .Jeans3 { grid-area: Jeans3; }
  .Jeans4 { grid-area: Jeans4; }
  .Jeans5 { grid-area: Jeans5; }

  .containergrilla img{
    width: 100%;
    height: 95%;
  }

.titulosgrilla {
    font-family: "TrajanPro";
    font-size: 20px;
    color: black;
    margin: 20px;
    text-align: center;
    text-decoration: none;
}
.containerbuzos {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Buzos1 Buzos2 Buzos3 Buzos4 Buzos5";
  }
  
  .Buzos1 { grid-area: Buzos1; }
  
  .Buzos2 { grid-area: Buzos2; }
  
  .Buzos3 { grid-area: Buzos3; }
  
  .Buzos4 { grid-area: Buzos4; }
  
  .Buzos5 { grid-area: Buzos5; }
  
  .containerremeras {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Remeras1 Remeras2 Remeras3 Remeras4 Remeras5";
  }
  
  .Remeras1 { grid-area: Remeras1; }
  
  .Remeras2 { grid-area: Remeras2; }
  
  .Remeras3 { grid-area: Remeras3; }
  
  .Remeras4 { grid-area: Remeras4; }
  
  .Remeras5 { grid-area: Remeras5; }

/*ICONOS FOOTER*/

/*gallerya index*/
.gallery {
	display: flex;
	padding: 2px;
	transition: .3s;
	
	&:hover &__image {
		filter: grayscale(1);
	}
	
	&__column {
		display: flex;
		flex-direction: column;
		width: 25%;
	}
	
	&__link {
		margin: 2px;
		overflow: hidden;
		
		&:hover {
			.gallery__image {
				filter: grayscale(0);
			}
			
			.gallery__caption {
				opacity: 1;
			}
		}
	}
	
	&__thumb {
		position: relative;
	}
	
	&__image {
		display: block;
		width: 100%;
		transition: .3s;
		
		&:hover {
			transform: scale(1.1);
		}
	}
	
	&__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px 15px 15px;
		width: 100%;
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		color: white;
		opacity: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
		transition: .3s;
	}
}

.container-iconos svg{
    width: 30px;
    height: 30px;
    color: white;
}

.container-iconos {
    width: 50px;
    height: 35px;
    color: black;
}
@media (max-width: 1248px) {
    .card img{
        padding: 10px;
    }
    .slide img{
        height: 800px;
    }

}
@media (max-width: 768px) {
    .card {
        width: auto;
    }
    .ubicacion{
        height: auto;
    }
    .productos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slide img{
        height: 600px;
    }
    .p1 {
        font-size: 60px;
    }
    
    .p2 {
        font-size: 30px;
    }
    .Barrabusqueda input{
        width: 30vh;
    }
    
    .Carritodecompra {
        margin-left: 11px;
    }
}
@media (max-width: 628px) {
    .ancho-mx a img{
        max-width: 100px;
    }
    .formulario {
        width: 400px;
    }
}
@media (max-width: 500px) {
    .p1 {
        font-size: 40px;
    }
    
    .p2 {
        font-size: 20px;
    }
    .contenedor1 {
        display: flex;
        flex-direction: column;
    }

    .contenedor1 img{
        width: 100%;
    }
    
}

@media (max-width: 425px) {
    .ancho-mx a img{
        max-width: 80px;
    }
    .formulario {
        width: auto;
    }
    .responsivecontact {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-contacto h1{
        font-size: 13px;
    }
    .footer {
        font-size: 12px;
        min-height: 20vh;
    }
    .containergrilla{
        display: block;
        padding: 5px;
    }
    .slide img{
        height: 250px;
    }
    .main-index{
        min-height: 80vh;
    }
    .contenedor2 {
        display: flex;
        justify-content: center;
    }
    .main-catalogo{
        min-height: 80vh;
    }
    .titulosgrilla {
        font-size: 14px;
    }
    .contenedor2{
        padding: 50px;
        align-items: center;
    }
    .contenedor2 h2{
        padding: 5px;
        font-size: 20px;
    }
    .Main-eshop{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Barrabusqueda input{
        width: 20vh;
    }
    }
