@font-face {
    font-family: "TrajanPro";
    src: url('../Recursos/TrajanPro.otf');
}

@font-face {
    font-family: "DJRbold";
    src: url('../Recursos/DJRbold.ttf');
}

@font-face {
    font-family: "Archivo-Bold" ;
    src: url('../Recursos/Archivo-Bold.otf');
}

$Verde: #7e8766;
$Rosa: #edafb870;
$Blanco: #f8f8f8;

.Color-1 {
    background-color: black;
    color: white;
}